body {
  font-family: 'Lucida Grande';
  color: #333333;
  margin: 0;
  padding: 0;
}

/* NAV, HOME, LANDING STYLES */

nav {
  color: #333333;
  background-color: #c8dbbe;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#div-nav {
  background-color: #ede4e0;
  padding-left: 100px;
}

.logo-span {
  margin-left: 100px;
}

.link-span {
  margin-right: 100px;
}

/* MEDITATE STYLES */

#player {
  padding-top: 10vh;
  padding-left: 10vw;
}

.timer {
  font-family: 'Lucida Grande';
  color: #b2b2b2;
  font-size: 4rem;
  border-radius: 15px;
  border: 5px solid #d8d9cf;
  width: 220px;
  background-color: #f7f7f7;
}

.buttons {
  margin: 30px;
}

#player-button {
  margin-right: 20px;
}

#player-button:hover {
  margin-right: 20px;
}

.player-buttons {
  padding: 30px;
}

.enabled:hover {
  cursor: pointer;
  opacity: 0.7;
}

#horizon {
  height: 11.2vh;
  margin: 0;
  border: 0;
  background-image: linear-gradient(to bottom, #e5d9b6, #ede4e0);
}

/* REFLECT STYLES */

.wrapper {
  display: flex;
}

textarea {
  width: 50vw;
  height: 30vh;
  font-family: 'Lucida Grande';
  border: 3px solid #ede4e0;
  padding: 20px;
  border-radius: 8px;
}

textarea:focus {
  outline: none;
  border: 3px solid #c8dbbe;
}

.buttons button {
  color: #393d3f;
  font-family: 'Lucida Grande';
  background-color: #c8dbbe;
  border: none;
  margin: 0 10px 0 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.buttons button:hover {
  cursor: pointer;
}

#cancel-button {
  background-color: #ede4e0;
}

#journal-text {
  border: 0;
  padding: 0;
}

.sidebar {
  width: 100%;
  height: 70vh;
  overflow: scroll;
}

.sidebar h3 {
  margin: 10px 20px 0 20px;
  text-align: left;
}

.sidebar-entry {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #ede4e0;
}

.sidebar-entry:hover {
  cursor: pointer;
}

#sidebar-header {
  padding: 10px 0 15px 10px;
  background-color: #c8dbbe;
}

.selected-entry {
  color: black;
  font-weight: bold;
  background-color: #ede4e0;
}

.past-entry {
  text-align: left;
  margin: 10px;
  padding: 10px 20px 20px 40px;
  border: 3px solid #ede4e0;
}

#past-entry-text {
  padding: 0 10px 0 0;
}

#create-entry {
  color: #757ce8;
}

#create-entry:hover {
  color: #757ce8;
  text-decoration: underline;
}

#past-entry-emotion {
  text-align: right;
  font-weight: bold;
  padding: 10px 20px 0 0;
}
