body {
  font-family: 'Lucida Grande';
  color: #333333;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

#player {
  padding-top: 10vh;
  padding-left: 10vw;
}

.timer {
  font-family: 'Lucida Grande';
  color: #b2b2b2;
  font-size: 4rem;
  border-radius: 15px;
  border: 5px solid #d8d9cf;
  width: 220px;
  background-color: #f7f7f7;
}

.buttons {
  margin: 30px;
}

#player-button {
  margin-right: 20px;
}

.player-buttons {
  padding: 30px;
}

#div-nav {
  background-color: #ede4e0;
  padding-left: 100px;
}
nav {
  display: flex;
  justify-content: space-around;
}

nav {
  color: #333333;
  background-color: #c8dbbe;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav a {
  color: #333333;
  margin: 0 20px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.active:hover {
  cursor: default;
}

.logo-span {
  margin-left: 100px;
}

.link-span {
  margin-right: 100px;
}
